@model CASwebsite.Models.FileUpload

@{
    ViewData["Title"] = "Create";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h1>Cursusplanning importeren</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="@Model.File" class="control-label">Planning bestand</label>
                <input asp-for="@Model.File" type="file" class="form-control">
            </div>
            <div class="form-group mb-3">
                <div class="input-group">
                <input asp-for="@Model.BeginFilter" type="date" class="form-control">
                <p class="px-3 text-center">t/m</p>
                <input asp-for="@Model.EindFilter" type="date" class="form-control">
                </div>
            </div>
            <br/>
            <div class="form-group">
                <p class="text-danger form-text"><span asp-validation-for="@Model.File"></span></p>
            </div>
            <div class="form-group">
                <input type="submit" value="Importeren" class="btn btn-primary" />
            </div>
        </form>
        @if (Model.IsValidated)
        {
            @if (Model.IsValid)
            {
                <p class="text-success">
                    Er zijn @Model.CursusInserts cursussen en @Model.InstantieInserts cursusinstanties toegevoegd.
                    Er waren @Model.Duplicates dubbele cursusinstanties.
                </p>
            }
            else
            {
                <p class="text-danger">
                    Bestand is niet in correct formaat op regel @Model.ErrorPosition.
                    Er zijn geen cursusinstanties toegevoegd.
                </p>
            }
        }
        
    </div>
</div>

