@model CASwebsite.Models.CursusLijst

@{
    ViewData["Title"] = "Cursusoverzicht week "+@Model.Weeknummer;
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h1 xmlns="http://www.w3.org/1999/html">Cursusoverzicht</h1>

<div class="row">
    <div class="col-12 col-sm-8 col-md-7 col-lg-6">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-6 form-group mb-3">
                    <div class="input-group mb-3">
                        <input asp-for="Weeknummer.Jaar" class="form-control" type="number" min="2000" max="9999"/>
                        <input asp-for="Weeknummer.Week" class="form-control" type="number" min="1" max="@Model.Weeknummer.WeekInJaar"/>
                        <button type="submit" class="btn btn-primary">Selecteren</button>
                    </div>
                    <span asp-validation-for="Weeknummer.Jaar" class="text-danger"></span>
                    <span asp-validation-for="Weeknummer.Week" class="text-danger"></span>
                </div>
                <div class="col-6 form-group mb-3">
                    <a href="/cursusoverzicht/@Model.VorigeWeek.Jaar/@Model.VorigeWeek.Week" class="btn btn-primary">Vorige week</a>
                    <a href="/cursusoverzicht/@Model.VolgendeWeek.Jaar/@Model.VolgendeWeek.Week" class="btn btn-primary">Volgende week</a>
                </div>
            </div>
        </form>
    </div>
</div>
<table class="table">
    <thead>
    <tr>
        <th>
            Startdatum
        </th>
        <th>
            Duur
        </th>
        <th>
            Titel
        </th>
        <th>

        </th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in (Model as CursusLijst).CursusInstanties!) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDatum.Day)/@Html.DisplayFor(modelItem => item.StartDatum.Month)/@Html.DisplayFor(modelItem => item.StartDatum.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cursus.Duur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cursus.Titel)
            </td>
            <td>
                @Html.ActionLink("Bekijken", "Details", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
